<%= render 'partials/navbar' %>
<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col">
    <div class=""><%= image_tag(@profile.avatar_url, class: 'img-thumbnail img-fluid', alt: 'Responsive image') %></div>
  </div>
  <div class="col-12 col-lg-6">
    <div class="user-profile"><%= @profile.user.username %>

      <% if @profile.user == current_user %>
        <%= link_to 'Edit Profile', edit_profile_path(@profile), class:'btn btn-outline-secondary' %>
      <% else %>
        <%= form_with(model: @profile.user, method: :patch) do | form | %>
          <%= form.hidden_field :toggle_follow, value: true %>
          <%= form.button @profile.user.followed_by?(current_user) ? 'unfollow' : 'follow', class: 'btn btn-primary align-text-bottom' %>
        <% end %>
      <% end %>
    </div>



    <div class="about-me">
      <span class=""><%= @profile.user.photos.count%></span> posts
      <span class=""><%= @profile.user.followers.count%></span> followers
      <span class=""><%= @profile.user.following.count%></span> following
    </div>

    <div class="profile-bio">
      <strong><%= @profile.user.username %></strong>
      <span class="bio-info"><%= @profile.bio %></span>
    </div>
  </div><!--end of user profile -->
  <div class="col">
  </div>
</div><!--end of row -->


        <div class="container">
            <% @profile.user.photos.each do |photo|%>
            <img class ="col-4 col-md-4 photo-col" src='<%=photo.image_url%>'>
            <% end %>
          </div>








<p class="footer"><%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profile_path %> </p>
